* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}
.fighter-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 0px; /* horizontal gap */
    row-gap: 6px;    
    padding: 20px;
    margin: 400px auto 0 auto ;
    max-width: 900px;
}
.fighter-card {
padding: 0;
  border: 4px solid #333;
  border-radius: 10px;
  overflow: hidden;
  width: 50%;      /* fits the grid cell */
  background-color: #1a1a1a;
}
.fighter-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.fighter-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* shows pointer on hover */
}

.fighter-card:hover {
  transform: scale(1.05); /* zoom in a bit */
  box-shadow: 0 0 15px 5px #ff0000; /* glowing red glow */
  z-index: 10; /* bring hovered card on top */
}